@import url('https://fonts.googleapis.com/css2?family=Foldit:wght@100..900&family=Matemasie&family=Orbitron:wght@400..900&family=Silkscreen:wght@400;700&family=Yellowtail&display=swap');

.plan {
    padding-top: 2rem;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 3rem;
    padding-bottom: 2rem;
    background-color: #FFF8F3;
    background-image: url('../../assets/plan5.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #1E201E;
}

.fun {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.1rem;
}

.fs-1 {
    font-size: 1.6rem;
    padding-bottom: 0;
    margin-bottom: 0;
    font-family: "Orbitron", sans-serif;
    font-weight: 500;
}

.fs-2 {
    font-family: "Orbitron", sans-serif;
    font-weight: 700;
    font-size: 2.3rem;
    padding-bottom: 10px;
    padding-top: 10px;
}

@media (max-width: 768px) {
    .plan {
        margin: 1rem;
        padding: 1rem;
    }

    .fun {
        text-align: center;
    }

    .fs-1 {
        font-size: 1.2rem;
    }

    .fs-2 {
        font-size: 1.8rem;
    }
}

@media (max-width: 480px) {
    .plan {
        margin: 0.5rem;
        padding: 0.5rem;
    }

    .fun {
        text-align: center;
    }

    .fs-1 {
        font-size: 1rem;
    }

    .fs-2 {
        font-size: 1.5rem;
    }
}
